.card_custom {
  padding: 10px;
  border: none;
  a {
    text-decoration: none;
    .body_custom {
      text-align: left;
      padding: 10px 5px;
      background: #fafafa;
      border: 1px solid #f1f1f1;
      .card-title {
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
      }
      .card-text {
        color: #3e3e3e;
        font-size: 12px;
      }
    }
  }
}

.text_center {
  margin: 0 auto;
}
