.card_custom {
  padding: 10px;
  border: none;
  a {
    text-decoration: none;
    img {
      animation: fadeIn 3s;
    }
    .body_custom {
      text-align: left;
      padding: 10px 5px;
      background: #fafafa;
      border: 1px solid #f1f1f1;
      .card-title {
        margin-bottom: 5px;
        color: #000;
        text-decoration: none;
      }
      .card-text {
        color: #3e3e3e;
        font-size: 12px;
      }
    }
  }
}

.text_center {
  margin: 0 auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.list_custom {
  width: 100%;
  .card_custom {
    a {
      width: 100%;
      background: #fafafa;
      border: 1px solid #f1f1f1;
      img {
        width: 130px;
        float: left;
      }
      .body_custom {
        width: calc(100% - 130px);
        float: right;
        border: none;
        padding: 10px 20px;
      }
    }
  }
}
